<div class="row">
	<div class="about">
		<div class="about-background"></div>
		<div class="about-title">
			About AIESEC
		</div>
	</div>
</div>

<div class="row">
	<div class="about-item col-md-12" id="who">
		<div class="col-md-6">
			<div class="about-item-title">
				Who Are We?
			</div>
			<div class="about-item-text">
				AIESEC and by extension AIESEC Illinois is an organization which focuses on the Peace and Fullfillment of Humankind's Potential.
				We are the world's largest student organization present in over 113 countries with over 80,000 student members. With over one
				million alumni, we have the numbers to back up our credibility, but AIESEC is more than that. We represent the chance for students
				all over the world to connect and explore the limits of the world. Through the internships we provide, we allow the world to become
				a smaller place, a place where we would all be connected.
			</div>
		</div>
		<img class="col-md-5 col-md-offset-1 about-image" src="/img/who_we_are.jpg">
	</div>
</div>

<div class="row">
	<div class="about-item col-md-12" id="history">
		<img class="col-md-5 about-image" src="/img/history.jpg">
		<div class="col-md-6 col-md-offset-1">
			<div class="about-item-title">
				History of AIESEC
			</div>
			<div class="about-item-text">
				AIESEC was founded in 1949 by students in Europe following World War II. They aimed to ensure that the tragedy would never
				happen again and they went about that through the process of exchange. They believed that with more communication and interaction, countries
				would never have to go to war.
		
				<br><br>
				Fast forward to today and AIESEC has grown exponentially. AIESEC’s members have been recognized by world leaders from Pope Paul VI to
				former U.S. president George H.W. Bush. The organization has also shown a proven track record of leadership development, with notable
				alumni like former German Chancellor Helmut Kohl, ex-Land’s End CEO Michael Smith and Former US President Bill Clinton.
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="about-item col-md-12" id="offer">
		<div class="about-item-title">
			What we Offer
		</div>
		<div class="about-item-text">
			AIESEC is founded on exchange. We focus and work on exchange of cultural ideas and identities amongst the world's populace. To do this we
			offer international internships to students. We dedicate ourselves on the ability to send qualified students around the world on informative,
			fun and quality internships. Since we are present in over 113 countries, prospective applicants can pick and choose where they want to make
			an impact.
		</div>
	</div>
</div>
	