<div class="row">
	<div class="shell">
		<div class="shell-background" id="abroad"></div>
		<div class="shell-title">
			Go Abroad!
		</div>
	</div>
</div>
<a name='citizen'></a>
<div class="row">
	<div class="abroad-global col-md-12" >
		<div class="col-md-4 col-md-offset-1">
			<a href="http://talent.aiesecus.org">
				<div class="abroad-picture" style="background-image:url('/img/GlobalCitizen.png')"></div>
			</a>
		</div>
	
		<div class="abroad-text col-md-6" >
			<div class="abroad-title" id="globalCitizen">Global Citizen Program</div>
			AIESEC offers a Global Citizen program
			as one of our internship programs. This program is an excellent
			way to experience a new culture. This program spans from 6 weeks to
			5 months and offers a great way to immerse oneself into the culture.
			Due to the relatively short time frame on these internships, it is
			a great way to spend a summer or a post-graduate semester.
	
			<br/><br/>
	
			These internships consist of working with the community in the host country.
			From teaching English to elementary school children in China to running a cultural
			camp in Russia, these internships are amazing for those who feel like giving back.
		
			<br><br>
		
			For more information, click <a href="http://talent.aiesecus.org">here</a>!
		</div>
	</div>
</div>

<a name="talent"></a>
<div class="row">
	<div class="abroad-global col-md-12" >
		<div class="col-md-4 col-md-offset-1">
			<a href="http://citizen.aiesecus.org">
				<div class="abroad-picture" style="background-image:url('/img/GlobalTalent.png')"></div>
			</a>
	</div>
	
		<div class="abroad-text col-md-6">
			<div class="abroad-title" id="globalTalent">Global Talent Program</div>
			AIESEC also offers a Talent Program. Meant for those who already have
			some experience with technology or business these internships are meant to not only
			provide suitable work experience for those who take it, but also be culturally
			enriching and relevant. We partner with many large name corporations to ensure that
			you get the best out of your time with AIESEC.
	
			<br/><br/>
	
			These internships usually last 6-18 months and are meant for upper-level undergraduates who
			can afford to take some time off or recent post-graduates. These internships also
			have more requirements than a GCDP because these companies are also looking for a
			long term investment. These internships are paid well enough to ensure the participant
			a comfortable stay in the host country.
		
			<br><br>
		
			For more information, click <a href="http://citizen.aiesecus.org">here</a>!
		</div>
	</div>
</div>

<div class="row">
	<div class="abroad-global col-md-12">
	
		<div class="abroad-text abroad-push">
			<div class="abroad-title"  id="proc">Process</div>
			<ol class="abroad-center">
				<li>
					<b>Selection</b>: In this stage of the process, the applicant will be required to fill in an online
					application for review. After reviewing their application, our OGX Team will decide which applicants
					go on for an interview for further screening. Should they pass this stage, the applicants then have to
					pass through an Assessment Center in which they will be tested in an active simulation.
				</li>
				<br>
				<li>
					<b>Raising</b>: This stage is where all the applicants get partnered up with a manager to ensure they know
					how to properly navigate our extensive database of offers. In this stage, the applicant will be required to
					sign up to our database and pay the first fee of $150.
				</li>
				<br>
				<li>
					<b>Matching</b>: In this stage, the applicant will be in constant contact with our partners for
					internship opportunities. They will go through an online interview and discuss details of their potential internship.
					When both the applicant and our partner company find the details to be acceptable they exchange Acceptance Notes (AN)
					which is a <b>Binding Contract</b>
				</li>
				<br>
				<li>
					<b>Outgoing Preparation Seminar (OPS)</b> This is a 1 Day seminar in which all the applicants matched will be required
					to attend. This seminar is meant to both prepare the applicants on the experiences they will have abroad, and to introduce the
					applicants to each other before they go abroad.
				</li>
				<br>
				<li>
					<b>Realization</b>: In this stage the applicants will go abroad and have the time of their lives.
				</li>
				<br/>
				<li>
					<b>Re-Integration</b>: The final stage of the Going Abroad Process is to simply share your experiences with the rest of
					AIESEC and help us make the experience better for future applicants.
				</li>
			</ol>

			<br/>
			The link to apply is <a href="https://exchange.aiesecus.org/login.php">here</a><br><br>
		
			As mentioned, throughout the entire process, our team will be here to help and guide you. For any more questions feel free to contact our Vice
			President of Outgoing Exchange (VPOGX) Alex Meyer at
			<a href="mailto:vpogx-illinois@aiesecus.org">vpogx-illinois@aiesecus.org</a>
		</div>
	</div>
</div>

<div class="row">
	<div class="abroad-global col-md-12">
		
		<div class="abroad-text abroad-push">
			<div class="abroad-title" style="margin-bottom:30px" id="dets">Details and Requirements</div>
			<ul class="abroad-center" style="font-size:1.7em">
				<li>
					<b>Length</b>: Our internships last anywhere from 6 weeks to 18 months
				</li>

				<br/>

				<li>
					<b>Selection Process</b>: This would generally take anywhere between 1 and 3 months to completely
					finish the process.
				</li>

				<br/>

				<li>
					<b>Requirments</b>: Any student or graduate (up to 2 years) is welcome to apply for an AIESEC Internship.<br/>
					The type of internship is dependant on the applicant. Each
					internship may have a specific set of requirments.
				</li>

				<br/>

				<li>
					<b>Airfare</b>: Airfare is not included in our costs. This being said, AIESEC has a partnership with with StudentUniverse for
					discounted flights!
				</li>

				<br/>

				<li>
					<b>Arrival</b>: In the host country there will be a local chapter of AIESEC willing to assist you
					in any way.
				</li>
			</ul>
		</div>
	</div>
</div>

<div class="row">
	<div class="abroad-global col-md-12">
	
		<div class="abroad-text abroad-push">
			<div class="abroad-title"  id="test">Testimonials</div>
			<div style="font-size:1.5em">
				"China is a big country, inhabited by many Chinese! 
				With all seriousness, it was surprising to see how many people wish to have the life I am currently living. I have unexpectedly developed 			  a deeper appreciation for all of the hard work my parents have done to make it in a new country. Never have I been more proud of my culture 			  and never have I been more proud to call myself a Mexican-American. All it took was a trip to the the opposite end of the world, an 			  unhealthy amount of stir-fried noodles/steamed buns and hundreds of pointless arguments with the British interns on how to properly speak 			English. China was a great adventure and I was lucky to share it with a great group of people. Can't wait until the day I return. AIESEC Wuhan 			   POOR BUT SEXY SUMMER 2O13"</br><br/>
				-Miguel Garcia<br/><br/>
			</div>
		</div>
	</div>
</div>

