<div class="row">
	<div class="shell">
		<div class="shell-background" id="business-back"></div>
		<div class="shell-title">
			Businesses
		</div>
	</div>
</div>
<div class="row" id="bus-first">
	<div class="business-services col-md-12">
		<div class="business-title">
			Services We Provide
		</div>
		
		<div class="row">
			<div class="business-text col-md-11">
				AIESEC Illinois is devoted to consistent excellence and the pursuit of perfection when it comes to
				our internships. We provide only the best interns from across the world, tailored for your needs.
				We aim to be as open and reliable as ever and that says something.
		
				<br><br>
		
				Our interns are selected from a database which includes over 80,000 students from all
				over the world. These students are all screened by our guidelines and are able to handle all forms of work infront of them.
				We aim so that the entire selection process is completely transparent and that you are able to see what you get and
				get what you see.
		
				<br><br>
		
				Besides the quality interns we provide, we also take care of some human resource factors. These include: <br><br>
		
				<div class="business-item">
					<img src="/img/CustomizedProcess.png" class="business-icon col-md-offset-1">
					<div class="business-item-text">
						Search our wide selection of backgrounds, countries, and skills - AIESEC can source talent with 
						language or technical skills from specific regions that are not otherwise easily available or affordable. 
						We provide candidates with unique skill sets, leadership qualities, and global mindsets to address your hiring needs.
					</div>
				</div>
				<div class="business-item">
					<img src="/img/FlexibleTiming.png" class="business-icon col-md-offset-1">
					<div class="business-item-text">
						With internships starting anytime of the year for a duration of 3 to 18 months - The Global Internship Program allows 
						you to manage seasonal peak times and special projects with high-quality, temporary international talent. Interns can 
						stay for short- or long-term internships ranging from 3 to 18 months with start and end dates that suit your organization’s needs
					</div>
				</div>
				<div class="business-item">
					<img src="/img/HassleFreeProcess.png" class="business-icon col-md-offset-1">
					<div class="business-item-text">
						J-1 VISA Processing all handled by our organization in addition to the intern’s cultural integration and reception - 
						The job description and candidate profile is outlined and designed in consultation with your organization.  You select 
						the intern, and we take care of the rest.  AIESEC makes arrangements for visa paperwork and processing, finding accommodation, 
						and culturally integrating the intern into the community.
					</div>
				</div>
				<div class="business-item">
					<img src="/img/CostEffectiveSolution.png" class="business-icon col-md-offset-1">
					<div class="business-item-text">
						Expenses consist solely of the trainee’s salary and an administration fee paid to AIESEC - With an AIESEC intern, 
						you have access to qualified candidates for minimal costs, as our trainees are looking for both personal and professional
						development.
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="business-process">
		<div class="business-title" id="contact-us">
			Contact Us
		</div>
		<div class="business-text col-md-11">
			We have more to offer than a chance to intern with us, if you want to come into contact with us, feel free to come and
			talk to any one of our members. We would be happy to assist in any way! <br><br>
		
			Do not hesitate to contact our Vice President of Sales Alexa Goldsmith at 
			<a href="mailto:vp_icx@aiesecillinois.org">vp_icx@aiesecillinois.org</a>
		</div>
	</div>
</div>
