<div class="row">
	<div class="main-intro col-md-12">
		<div class="row main-intro-2">
			<div class="main-pictures col-md-12">
				<div class="main-photo col-md-2 col-md-offset-2" style="float:left">
					<img class="main-image" src="/img/Leadership.JPG" id="leadership"></img>
					<p class="main-description">Leadership</p>
				</div>
		
				<div class="main-photo col-md-2 col-md-offset-1" style="float:left">
					<img class="main-image" src="/img/Development.JPG"></img>
					<p class="main-description">Development</p>
				</div>
		
				<div class="main-photo col-md-2 col-md-offset-1" style="float:left">
					<img class="main-image" src="/img/Impact.jpg"></img>
					<p class="main-description">Impact</p>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="main-welcome">
				<p class="main-banner"><b>Welcome to AIESEC Illinois!</b></p>

				<p>We are part of the largest non-profit student organization, the University of Illinois Branch. Providing internships and leadership opportunities for over six decades!</p>
			</div>
		</div>
	</div>
</div>


<div class="row">
	<div class="main-students col-md-12">
		<div class="row">
			<div class="main-center col-md-12">
				<div class="col-md-12">
					<a href="#/abroad" class="underlineless"><p class="main-header">Our Programs</p></a>
					<p class="main-text col-md-8 col-md-offset-2">
						Here at AIESEC, we offer students 3 unique programs designed to maximize your impact on the world! Each program is designed with the purpose of fulfilling human kind's potential. We at AIESEC Illinois are dedicated to provide the best possible experience to everyone who works with us!
					</p>
				</div>
		
				<div class="row">
					<a href="#/abroad#citizen">
						<div class="col-md-2 col-md-offset-2">
							<img class="main-student-program" src="/img/GlobalCitizen.png"></img>
						</div>
					</a>
		
					<a href="#/abroad#talent">
						<div class="col-md-2 col-md-offset-1">
							<img class="main-student-program" src="/img/GlobalTalent.png"></img>
						</div>
					</a>
		
					<a href="#/recruitment">
						<div class="col-md-2 col-md-offset-1">
							<img class="main-student-program" src="/img/GlobalLeader.png"></img>
						</div
					</a>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="main-business col-md-12">
		<div class="row">
			<a href="#/business" class="underlineless"><p class="main-header" id="bus">Why You Should Partner With Us</p></a>
			<div class="main-business-area container">
				<div class="main-business-bubble">
					<div class="row">
						<img class="col-md-3 col-md-offset-2 main-business-img" style="float:left" src="/img/networking.jpg">
						<div class="col-md-4 col-md-offset-1 main-business-item">
							<p class="main-business-item-head">Networking</p>
							<p>AIESEC is present in over 100 different countries all around the world. By associating yourselves with us,
								you get access to people across the globe. You are able to spread your roots and ideas to students from
								Japan to Argentina and back.</p>
						</div>
					</div>
				</div>
				<div class="main-business-bubble">
					<div class="row">
						<div class="col-md-4 col-md-offset-2 main-business-item">
							<p class="main-business-item-head">Services</p>
							<p>AIESEC’s Global Talent program is tailor made to bring in quality interns from abroad. We handle the HR process so that all you have to do is pick and choose which intern from our database you want. We take care of numerous processes such as health insurance, visa, welcoming, etc.</p>
						</div>
						<img class="col-md-3 col-md-offset-1 main-business-img" style="float:left" src="/img/services.jpg">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="main-find col-md-12">
		<div class="main-find-locator">
			<a href="https://www.facebook.com/aiesecillinois"><img src="/img/buttons/fb.PNG" width="47" height="48"></img></a>
			<a href="http://www.linkedin.com/company/aiesec-illinois"><img src="/img/buttons/li.png" width="47" height="48"></img></a>
			<a href="https://twitter.com/aiesecillinois"><img src="/img/buttons/tw.png" width="47" height="48"></img></a>
			<a href="http://www.youtube.com/user/AIESECUS"><img src="/img/buttons/yt.PNG" width="47" height="48"></img></a>
		</div>
	</div>
</div>