<div class="row">
	<div class="abroad-global col-md-12" id="recruit">
	
		<div class="col-md-4 col-md-offset-1">
			<a href="http://leader.aiesecus.org">
				<img class="abroad-picture" src="/img/GlobalLeader.png"/>
			</a>
		</div>
	
		<div class="abroad-text col-md-6">
			<div class="recruit-title">Global Leader Program</div>
			<div id="GLP">
			Do you have an open mind and want to spread cultural awarness across the world? If so, you may just
			be what we are looking for at AIESEC Illinois. There are leadership opportunities, national and international
			conferences, great people, and once-in-a-lifetime experiences waiting for you!
	
			<br/><br/>
	
			Our Global Leadership Program aims to prepare the next generation of leaders to address future challenges in an increasingly 
			interconnected world.  A Global Leader is an individual with the ability to connect the big picture to action, is persistent 
			to surmount obstacles, takes responsibility for decisions and actions, is committed to developing and empowering the people 
			around them, anticipates and transforms for future change, recognizes and uses available resources, and has a strong sense 
			of identity, purpose, and values. They develop their skills, attitude, and knowledge in a highly interactive and experiential 
			learning environment where they have have to manage numerous stakeholders, find solutions to new problems, design and implement 
			strategies, and work with individuals from all over the world to run their own organization called AIESEC.
	
			<hr>
			</div>
		</div>
	</div>
</div>