<div class="row-fluid">
	
	<div class="row">
		<div class="navbar">
			<div class="navbar-inner">
				<a class="brand" href="#">AIESEC Illinois</a>
				<ul class="nav">
				  <li><a href="#/services">What we Do</a></li>
				  <li><a href="https://aiesecus.org/about-aiesec/">About Us</a></li>
				  <li><a href="https://aiesecus.org/organizations/our-partners/">Partners</a></li>
				</ul>
			</div>
		</div>
	</div>
	
	<div class="span8 offset2">
	
		<div class="bub s1">
			<img src="img/buttons/prtrBtn.png" class="banner">
			
			<div class="txt-bub">
				AIESEC provides a great source of logistical recruitment. If you want international, smart, 
				talented, hardworking recruits, we are the group for you! Not only do we provide the great source 
				of talent, we also take care of all the logistics behind the movement of the people. 
				We provide the Visa, we take care of housing, we show them around. All you need to worry about is what 
				work you have to provide them.
				
				<h3>Services We Provide</h3>
				<ul>
					<li>
						J-1 Visa Sponsorship (Up to 18 Months)
					</li>
					<li>
						Health Insurance
					</li>
					<li>
						Networking and Sourcing
					</li>
					<li>
						Logistical Reception and Accommodation Logistics
					</li>
					<li>
						Ongoing Administrative Support
					</li>						
				</ul>
				
				For more information and answers to any questions you may have, don't hesitate to contact out Vice President of Business Development Akbar Agha
				at <i><a href="mailto:vpbd-illinois@aiesecus.org">vpbd-illinois@aiesecus.org</a></i>
			</div>
		</div>	

		
	</div><!--End span8 -->			
</div><!-- End Row -->
